@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-bold_1-webfont.woff2') format('woff2'),
         url('./fonts/roboto-bold_1-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-light_1-webfont.woff2') format('woff2'),
         url('./fonts/roboto-light_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('./fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'),
         url('./fonts/roboto-lightitalic_1-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
	font-family: 'Roboto', Helvetica, sans-serif;
	margin: 0;
    color: #221f1f;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
}

h1 {
    color: #221f1f;
    font-family: Roboto;
    font-size: 49px;
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.container {
	margin: 0 auto;
	width: 1060px;
    display: flex;
}

.header {
    background: #4b73b5;
    text-align: center;
    background-origin: padding-box;
    /*margin-bottom: 45px;*/
    padding: 20px 0;
}

.header .container {
    position: relative;
    height: 75px;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;
}

.header__contacts {
    position: absolute;
    right: 0;
    top: 20px;
    font-weight: bold;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.contacts__phone {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.contacts__phone:hover {
    text-decoration: underline;
}

.contacts__info {
    color: #c9d5e9;
    font-size: 14px;
}

.menu__list {
    padding-top: 45px;
    justify-content: flex-start;

}

.menu__link {
    color: #4b73b5;
    font-size: 12px;
    padding-left: 20px;
    font-weight: 700;
}

.menu__link_main {
    color: #221f1f;
}

.menu_icon {
    margin-right: 19px;
}

.banner {
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 55px;
}

.title {
    font-size: 49px;
    color: #221f1f;
    margin-bottom: 70px;
}

.container_column {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

 .tariffs__list{
    display: flex;
    width: 750px;
    justify-content: space-between;
 }

 .tariffs__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 40px;
 }

 .tariffs__inner-list {
    align-self: flex-start;
 }

.tariffs__inner-item::before{
    content: '';
    display: flex;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 15px;
}

.tariffs__inner-item {
    display: flex;
    align-items: center;
}

.tariffs__icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 17px;
}

.tariffs__title, .tariffs__desc, .tariffs__list {
    color: color: #221f1f;
    margin-bottom: 20px;
}

 /*.menu__link_icon::before {
    content: '';
    display: block;
    width: 20px;
    height: 18px;
    background-repeat: no-repeat;
 }

.menu__link_main {
    background-image: url('../img/icon/main_icon.png');
}

.menu__link_feed {
    background-image: url('../img/icon/feed_icon.png');
}

.menu__link_team {
    background-image: url('../img/icon/team_icon.png');
}*/

.news{
    padding: 110px 0 62px 0;
}

.article {
    display: flex;
    width: 835px; 
}

.article__content {
    margin-left: 20px;
}

.article__photo {
    width: 165px;
    height: 165px;
    border-radius: 50%;
    overflow: hidden;
}

.news__item {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}